**SQL Mock Exam Practice**

Your NAME Here:

Here is some code to get us started.  Just run these first set of lines of code (4 short chunks).

In [38]:
import pandas as pd
url = 'https://www.qogdata.pol.gu.se/data/qog_bas_cs_jan24.xlsx'
df = pd.read_excel(url)

In [39]:
!pip install pandasql
import pandasql as psql
from pandasql import sqldf

Requirement already satisfied: pandasql in /usr/local/lib/python3.11/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.38)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)

In [40]:
print(df.head())

   ccode        cname  ccode_qog    cname_qog ccodealp  ccodecow  \
0      4  Afghanistan          4  Afghanistan      AFG     700.0
1      8      Albania          8      Albania      ALB     339.0
2     12      Algeria         12      Algeria      DZA     615.0
3     20      Andorra         20      Andorra      AND     232.0
4     24       Angola         24       Angola      AGO     540.0

         version  ajr_settmort  atop_ally  atop_number  ...  wvs_imprel  \
0  QoGBasCSjan24      4.540098        1.0          1.0  ...         NaN
1  QoGBasCSjan24           NaN        1.0          8.0  ...    2.869328
2  QoGBasCSjan24      4.359270        1.0          9.0  ...         NaN
3  QoGBasCSjan24           NaN        1.0          2.0  ...    2.034930
4  QoGBasCSjan24      5.634789        1.0          8.0  ...         NaN

   wvs_pmi12  wvs_psarmy  wvs_psdem  wvs_psexp  wvs_pssl  wvs_relacc  \
0        NaN         NaN        NaN        NaN       NaN         NaN
1        NaN    1.596485   3.849031   3.475513  1.744196         NaN
2        NaN         NaN        NaN        NaN       NaN         NaN
3   2.710393    1.336049   3.681363   2.635721  1.830491    1.751004
4        NaN         NaN        NaN        NaN       NaN         NaN

   wvs_satfin  wvs_subh  wvs_trust
0         NaN       NaN        NaN
1         NaN  3.488758   0.027857
2         NaN       NaN        NaN
3    6.561316  4.089642   0.255744
4         NaN       NaN        NaN

[5 rows x 337 columns]

In [41]:
# Check if 'ht_region' exists in the dataset
if 'ht_region' in df.columns:
    # Define the mapping for the regions
    region_mapping = {
        1: "Eastern Europe and post Soviet Union (including Central Asia)",
        2: "Latin America (including Cuba, Haiti & the Dominican Republic)",
        3: "North Africa & the Middle East (including Israel, Turkey & Cyprus)",
        4: "Sub-Saharan Africa",
        5: "Western Europe and North America (including Australia & New Zealand)",
        6: "East Asia (including Japan & Mongolia)",
        7: "South-East Asia",
        8: "South Asia",
        9: "The Pacific (excluding Australia & New Zealand)",
        10: "The Caribbean (including Belize, Guyana & Suriname, but excluding Cuba, Haiti & the Dominican Republic)"
    }

    # Recode the 'ht_region' variable
    df['ht_region_recoded'] = df['ht_region'].map(region_mapping)

**Great!  Here is our first example below ...**

**query0: What is the GDP per capita (wdi_gdpcapcon2015) for the first 10 countries in the dataset?**

In [42]:
query0 = """
SELECT wdi_gdpcapcon2015 FROM df LIMIT 10
"""
print(psql.sqldf(query0, locals()))

   wdi_gdpcapcon2015
0         553.036133
1        4418.660645
2        3873.508789
3       34394.414062
4        2346.845947
5       14433.879883
6        5083.561035
7       11341.268555
8       58115.929688
9       43455.699219

**query1: Please also include the country names (cname) along with the GDP per capita for the first 10 countries in the dataset**

In [43]:
query1 = """
SELECT cname, wdi_gdpcapcon2015 FROM df LIMIT 10
"""
print(psql.sqldf(query1, locals()))

                 cname  wdi_gdpcapcon2015
0          Afghanistan         553.036133
1              Albania        4418.660645
2              Algeria        3873.508789
3              Andorra       34394.414062
4               Angola        2346.845947
5  Antigua and Barbuda       14433.879883
6           Azerbaijan        5083.561035
7            Argentina       11341.268555
8            Australia       58115.929688
9              Austria       43455.699219

**query2: List the top 10 countries with the highest GDP per capita.**

In [44]:
query2 = """
SELECT cname, wdi_gdpcapcon2015 FROM df ORDER BY wdi_gdpcapcon2015 DESC LIMIT 10
"""
print(psql.sqldf(query2, locals()))

                            cname  wdi_gdpcapcon2015
0                          Monaco      166910.625000
1                      Luxembourg      104128.242188
2                     Switzerland       84434.781250
3                         Ireland       79074.539062
4                          Norway       75287.203125
5                       Singapore       59175.812500
6                           Qatar       58476.199219
7  United States of America (the)       58451.605469
8                       Australia       58115.929688
9                         Denmark       55898.789062

**query3: What is the average GDP per capita for each region (ht_region_recoded)?**

In [45]:
query3 = """
SELECT ht_region_recoded, AVG(wdi_gdpcapcon2015) AS ave_wdi_gdpcapcon2015
FROM df
GROUP BY ht_region_recoded
"""
print(psql.sqldf(query3, locals()))

                                   ht_region_recoded  ave_wdi_gdpcapcon2015
0             East Asia (including Japan & Mongolia)           20110.127441
1  Eastern Europe and post Soviet Union (includin...            9311.723890
2  Latin America (including Cuba, Haiti & the Dom...            7173.676404
3  North Africa & the Middle East (including Isra...           15105.592072
4                                         South Asia            2563.683060
5                                    South-East Asia           11261.471391
6                                 Sub-Saharan Africa            2167.969373
7  The Caribbean (including Belize, Guyana & Suri...           10943.911696
8    The Pacific (excluding Australia & New Zealand)            4680.120127
9  Western Europe and North America (including Au...           52162.679763

**query4: What is the average GDP per capita for each region, ordered from highest to lowest?**

In [46]:
query4 = """
SELECT ht_region_recoded, AVG(wdi_gdpcapcon2015) AS ave_wdi_gdpcapcon2015
FROM df
GROUP BY ht_region_recoded
ORDER BY ave_wdi_gdpcapcon2015 DESC
"""
print(psql.sqldf(query4, locals()))

                                   ht_region_recoded  ave_wdi_gdpcapcon2015
0  Western Europe and North America (including Au...           52162.679763
1             East Asia (including Japan & Mongolia)           20110.127441
2  North Africa & the Middle East (including Isra...           15105.592072
3                                    South-East Asia           11261.471391
4  The Caribbean (including Belize, Guyana & Suri...           10943.911696
5  Eastern Europe and post Soviet Union (includin...            9311.723890
6  Latin America (including Cuba, Haiti & the Dom...            7173.676404
7    The Pacific (excluding Australia & New Zealand)            4680.120127
8                                         South Asia            2563.683060
9                                 Sub-Saharan Africa            2167.969373

**query5: Do all countries have a valid measure of GDP per capita?  How many countries have a non-null GDP per capita value?**

In [47]:
query5 = """
SELECT COUNT(cname)
FROM df
WHERE wdi_gdpcapcon2015 IS NOT NULL
"""
print(psql.sqldf(query5, locals()))

   COUNT(cname)
0           188

**query6: Actually, how many total records/rows (countries) are in the dataset?**

In [48]:
query6 = """
SELECT COUNT(*)
FROM df
"""

print(psql.sqldf(query6, locals()))

   COUNT(*)
0       194

**query7: In terms of proportions, what proportion of the dataset has a valid (non-null) GDP per capita value?**

In [49]:
query7 = """
SELECT CAST(SUM(CASE WHEN wdi_gdpcapcon2015 IS NOT NULL THEN 1 ELSE 0 END) AS REAL) / COUNT(*) AS proportion_not_null
FROM df
"""

print(psql.sqldf(query7, locals()))

   proportion_not_null
0             0.969072

**query8: What one country has the highest Bayesian Corruption Index (bci_bci) value and which one country has the lowest Bayesian Corruption Index value?**

In [50]:
query8 = """
SELECT cname, bci_bci
FROM df
WHERE bci_bci = (SELECT MAX(bci_bci) FROM df)
OR bci_bci = (SELECT MIN(bci_bci) FROM df)
"""

print(psql.sqldf(query8, locals()))

           cname    bci_bci
0        Finland  -3.027579
1  Guinea-Bissau  78.833908

**query9: Please provide me with the 5 countries with the lowest bci_bci values.**

In [51]:
query9 = """
SELECT cname, bci_bci FROM df ORDER BY bci_bci LIMIT 5
"""

print(psql.sqldf(query9, locals()))

         cname   bci_bci
0       Monaco       NaN
1   San Marino       NaN
2      Finland -3.027579
3      Denmark -2.424890
4  New Zealand -0.807745

**query10: Please provide me with the 5 countries with the lowest bci_bci values, but make sure to exclude null values.**

In [52]:
query10 = """
SELECT cname, bci_bci
FROM df
WHERE bci_bci IS NOT NULL
ORDER BY bci_bci ASC
LIMIT 5
"""

print(psql.sqldf(query10, locals()))

         cname   bci_bci
0      Finland -3.027579
1      Denmark -2.424890
2  New Zealand -0.807745
3    Singapore -0.040676
4       Norway  1.965207

**query11: Please provide me with the full list of countries that have valid (non-null) values for all three of these variables: GDP per capita, population size (pwt_pop), and Bayesian Corruption Index.**

In [53]:
query11 = """
SELECT cname
FROM df
WHERE wdi_gdpcapcon2015 IS NOT NULL
AND pwt_pop IS NOT NULL
AND bci_bci IS NOT NULL
"""

print(psql.sqldf(query11, locals()))

                   cname
0                Albania
1                Algeria
2                 Angola
3    Antigua and Barbuda
4             Azerbaijan
..                   ...
164         Burkina Faso
165              Uruguay
166           Uzbekistan
167                Yemen
168               Zambia

[169 rows x 1 columns]

**query13: Please provide me with confirmation of whether the USA is included in the list of countries that have valid (non-null) GDP per capita, population size, and Bayesian Corruption Index values.  See if the 3-digit Country Code (ccodealp) of 'USA' is in the list.**

In [54]:
query13 = """
SELECT cname
FROM df
WHERE wdi_gdpcapcon2015 IS NOT NULL
 AND pwt_pop IS NOT NULL
 AND bci_bci IS NOT NULL
 AND ccodealp = 'USA'
"""

print(psql.sqldf(query13, locals()))

                            cname
0  United States of America (the)

**query13: Please provide me with confirmation of whether the made-up country of IOU is included in the list of countries that have valid (non-null) GDP per capita, population size, and Bayesian Corruption Index values.  See if the 3-digit Country Code (ccodealp) of 'USA' is in the list**

In [67]:
query14 = """
SELECT cname
FROM df
WHERE wdi_gdpcapcon2015 IS NOT NULL
 AND pwt_pop IS NOT NULL
 AND bci_bci IS NOT NULL
 AND ccodealp = 'IOU'
"""

print(psql.sqldf(query14, locals()))

Empty DataFrame
Columns: [cname]
Index: []

**query18: Please rank countries along each of these 3 dimension: GDP per capita, population size, and Bayesian Corruption Index.  And then give me the top 10 (highest-ranked, meaning the best) countries where these rankings are blended in these proportions: GDP per capita (50%), population size (20%), and Bayesian Corruption Index (30%)**

In [70]:
query18 = """
WITH Ranked AS (
    SELECT
        cname,
        RANK() OVER (ORDER BY wdi_gdpcapcon2015 DESC) AS rank_gdp,
        RANK() OVER (ORDER BY pwt_pop DESC) AS rank_pop,
        RANK() OVER (ORDER BY bci_bci DESC) AS rank_bci
    FROM df
),
WeightedScores AS (
    SELECT
        cname,
        (rank_gdp * 0.50) + (rank_pop * 0.20) + (rank_bci * 0.30) AS weighted_score
    FROM Ranked
)
SELECT cname, weighted_score
FROM WeightedScores
ORDER BY weighted_score ASC
LIMIT 10;
"""

# Execute SQL query
print(psql.sqldf(query18, locals()))

                            cname  weighted_score
0        Russian Federation (the)            46.3
1                          Mexico            50.8
2  United States of America (the)            52.9
3                           Italy            57.5
4                       Argentina            59.0
5         Korea (the Republic of)            62.3
6      Iran (Islamic Republic of)            63.2
7                    Turkmenistan            63.9
8                           China            65.5
9                           Palau            65.9

**query19: Now, please provide the list of the least 10 (least-ranked) countries on these dimensions.**

In [71]:
query19 = """
WITH Ranked AS (
    SELECT
        cname,
        RANK() OVER (ORDER BY wdi_gdpcapcon2015 DESC) AS rank_gdp,
        RANK() OVER (ORDER BY pwt_pop DESC) AS rank_pop,
        RANK() OVER (ORDER BY bci_bci DESC) AS rank_bci
    FROM df
),
WeightedScores AS (
    SELECT
        cname,
        (rank_gdp * 0.50) + (rank_pop * 0.20) + (rank_bci * 0.30) AS weighted_score
    FROM Ranked
)
SELECT cname, weighted_score
FROM WeightedScores
ORDER BY weighted_score DESC
LIMIT 10;
"""

# Execute SQL query
print(psql.sqldf(query19, locals()))

                              cname  weighted_score
0                     Liechtenstein           185.0
1        Taiwan (Province of China)           153.0
2                            Rwanda           148.2
3                            Bhutan           148.0
4                           Lesotho           145.3
5             Sao Tome and Principe           143.1
6  Micronesia (Federated States of)           143.1
7                   Solomon Islands           139.9
8                          Kiribati           139.8
9                       Niger (the)           137.0

Just run this code to bring in another dataframe.

In [72]:
import pandas as pd

# URL of the Wikipedia page
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_English-speaking_population'

# Read all tables from the webpage into a list of DataFrames
tables = pd.read_html(url)

# Select the table of interest (likely table 5)
dfw = tables[5]

# Rename columns properly and remove the first row
dfw.columns = dfw.iloc[0]  # Assign first row as column names
dfw = dfw[1:].reset_index(drop=True)  # Remove the first row and reset index

# Select 'Country' and the correct percentage column (index 3)
dfw_selected = dfw.iloc[:, [0, 3]]  # Column 0 = 'Country', Column 3 = '% of English speakers'

# Rename columns
dfw_selected.columns = ['Country', 'PerEng']

# Remove percentage sign, handle empty strings, and convert to integers
dfw_selected['PerEng'] = (
    dfw_selected['PerEng']
    .str.replace('%', '', regex=False)  # Remove percentage sign
    .str.strip()  # Remove any extra spaces
    .replace('', pd.NA)  # Replace empty strings with NaN
    .dropna()  # Drop rows with NaN values
    .astype(float)  # Convert to float first
    .astype(int)  # Convert to integer
)


# Display cleaned dataframe

df1 = dfw_selected.copy()
print(df1.head())

         Country  PerEng
0        Country     NaN
1  United States    95.0
2          India    15.0
3        Nigeria    60.0
4       Pakistan    48.0

<ipython-input-72-ed519bf9cf71>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfw_selected['PerEng'] = (

We need to get a common ID to merge on.  Just run this code below:

In [73]:
!pip install pycountry

import pycountry

def get_country_code(country_name):
    """
    Returns the 3-letter country code (ISO Alpha-3) for a given country name.
    Uses pycountry's lookup function with some manual adjustments for mismatches.
    """
    # Manual country corrections for common mismatches
    country_corrections = {
        "United States": "USA",
        "United Kingdom": "GBR",
        "South Korea": "KOR",
        "North Korea": "PRK",
        "Russia": "RUS",
        "Venezuela (Bolivarian Republic of)": "VEN",
        "Syria": "SYR",
        "Iran": "IRN",
        "Vietnam": "VNM",
        "Bolivia": "BOL",
        "Czechia": "CZE",
        "Brunei": "BRN",
        "Congo (Democratic Republic of the)": "COD",
        "Congo (Republic of the)": "COG",
        "Laos": "LAO",
        "Moldova": "MDA",
        "Tanzania": "TZA",
        "Palestine": "PSE",
        "Ivory Coast": "CIV",
        "Myanmar": "MMR",
        "Eswatini": "SWZ",
        "Micronesia": "FSM",
        "Gambia": "GMB",
        "Saint Kitts and Nevis": "KNA",
        "Saint Vincent and the Grenadines": "VCT",
        "Solomon Islands": "SLB"
    }

    # Check if manually corrected first
    if country_name in country_corrections:
        return country_corrections[country_name]

    # Try to find the country using pycountry
    try:
        return pycountry.countries.lookup(country_name).alpha_3
    except LookupError:
        return None  # Return None if no match found

def add_country_code(df, country_col="Country"):
    """
    Adds a new column 'ccodealp' to a DataFrame based on the given 'Country' column.
    Uses get_country_code() to map countries to 3-letter ISO Alpha-3 codes.
    """
    df["ccodealp"] = df[country_col].apply(get_country_code)
    return df

Requirement already satisfied: pycountry in /usr/local/lib/python3.11/dist-packages (24.6.1)

Now, I am running the function and attaching the 3-letter country codes to the df1 dataframe.  Just run this.

In [74]:
df1 = add_country_code(df1, country_col="Country")

**query20: Please merge via an inner join the two dataframes together.  Create a new dataset called 'final_df' which combines the main dataset (df) with the dataset of English-speaking populations (df1) using the country code (ccodealp).**

In [77]:
import pandasql as psql

query20 = """
SELECT df.*, df1.PerEng
FROM df
INNER JOIN df1 ON df.ccodealp = df1.ccodealp
"""

final_df = psql.sqldf(query20, locals())
print(final_df.head())

   ccode                cname  ccode_qog            cname_qog ccodealp  \
0      4          Afghanistan          4          Afghanistan      AFG
1     12              Algeria         12              Algeria      DZA
2     20              Andorra         20              Andorra      AND
3     28  Antigua and Barbuda         28  Antigua and Barbuda      ATG
4     32            Argentina         32            Argentina      ARG

   ccodecow        version  ajr_settmort  atop_ally  atop_number  ...  \
0     700.0  QoGBasCSjan24      4.540098        1.0          1.0  ...
1     615.0  QoGBasCSjan24      4.359270        1.0          9.0  ...
2     232.0  QoGBasCSjan24           NaN        1.0          2.0  ...
3      58.0  QoGBasCSjan24           NaN        1.0          3.0  ...
4     160.0  QoGBasCSjan24      4.232656        1.0          3.0  ...

   wvs_psarmy  wvs_psdem  wvs_psexp  wvs_pssl  wvs_relacc  wvs_satfin  \
0         NaN        NaN        NaN       NaN         NaN         NaN
1         NaN        NaN        NaN       NaN         NaN         NaN
2    1.336049   3.681363   2.635721  1.830491    1.751004    6.561316
3         NaN        NaN        NaN       NaN         NaN         NaN
4    1.606765   3.537564   2.640615  2.688117    2.031211    5.802369

   wvs_subh  wvs_trust                                  ht_region_recoded  \
0       NaN        NaN                                         South Asia
1       NaN        NaN  North Africa & the Middle East (including Isra...
2  4.089642   0.255744  Western Europe and North America (including Au...
3       NaN        NaN  The Caribbean (including Belize, Guyana & Suri...
4  3.797390   0.201043  Latin America (including Cuba, Haiti & the Dom...

   PerEng
0     6.0
1     7.0
2    22.0
3    80.0
4     6.0

[5 rows x 339 columns]

**query21: Let's check for duplicates during the merging process.  Please provide me with any country names that appear more than once in the merged dataset (final_df) and the number of times they appear.**

In [78]:
query21 = """
SELECT cname, COUNT(*) AS count
FROM final_df
GROUP BY cname
HAVING COUNT(*) > 1
"""

print(psql.sqldf(query21, locals()))

Empty DataFrame
Columns: [cname, count]
Index: []

**query22: Please provide me with the 20 countries (using cname) with the highest percentage of English speakers (PerEng).**

In [79]:
query22 = """
SELECT cname, PerEng
FROM final_df
ORDER BY PerEng DESC
LIMIT 20
"""
print(psql.sqldf(query22, locals()))

                                                cname  PerEng
0                                            Barbados   100.0
1                                             Iceland    98.0
2                                             Ireland    98.0
3                                    Marshall Islands    98.0
4   United Kingdom of Great Britain and Northern I...    98.0
5                                             Jamaica    97.0
6                                         New Zealand    97.0
7                                               Nauru    96.0
8                                           Singapore    96.0
9                    Saint Vincent and the Grenadines    95.0
10                     United States of America (the)    95.0
11                                           Dominica    94.0
12                                        South Sudan    94.0
13                                        Sudan (the)    93.0
14                                          Australia    92.0
15                                              Palau    92.0
16                                            Grenada    90.0
17                                             Guyana    90.0
18                                  Netherlands (the)    90.0
19                                             Sweden    89.0

**query23: Please rank countries along each of these 4 dimension: GDP per capita, population size,  Bayesian Corruption Index, and Percent English-Speaking.  And then give me the top 10 (highest-ranked, meaning the best) countries where these rankings are blended in these proportions: GDP per capita (40%), population size (10%), Bayesian Corruption Index (30%), and percentage of English speakers (20%)**

In [82]:
query23 = """
WITH Ranked AS (
    SELECT
        cname,
        RANK() OVER (ORDER BY wdi_gdpcapcon2015 DESC) AS rank_gdp,
        RANK() OVER (ORDER BY pwt_pop DESC) AS rank_pop,
        RANK() OVER (ORDER BY bci_bci DESC) AS rank_bci,
        RANK() OVER (ORDER BY PerEng DESC) AS rank_eng
    FROM final_df
),
WeightedScores AS (
    SELECT
        cname,
        (rank_gdp * 0.40) + (rank_pop * 0.10) + (rank_bci * 0.30) + (rank_eng * 0.20) AS weighted_score
    FROM Ranked
)
SELECT cname, weighted_score
FROM WeightedScores
ORDER BY weighted_score DESC
LIMIT 10
"""


# Execute SQL query
print(psql.sqldf(query23, locals()))

                              cname  weighted_score
0                            Rwanda            96.0
1                           Lesotho            85.5
2                          Kiribati            81.8
3                            Malawi            81.4
4                   Solomon Islands            81.2
5                              Fiji            81.1
6                             Samoa            79.6
7                       Afghanistan            79.6
8                             Nepal            79.5
9  Micronesia (Federated States of)            79.4